<header>
	<b>
		<img
			src="./assets/images/logo-icon.png"
			alt="homepage"
			class="dark-logo"
		/>
	</b>
	<img
		_ngcontent-ng-c1321015302=""
		src="./assets/images/logo-text.png"
		alt="homepage"
		class="dark-logo"
	/>
</header>
<content>
	<p>AdminPro is an app created with Angular 15 and 16.</p>
	<p>
		It's an app done with some changes from the
		<a
			href="https://www.udemy.com/course/angular-avanzado-fernando-herrera"
			target="_blank"
		>
			Fernando Herrera course of Angular for advanced Angular developpers.
		</a>
	</p>
	<p></p>
</content>
