<header>
	<b>
		<img
			src="./assets/images/logo-icon.png"
			alt="homepage"
			class="dark-logo"
		/>
	</b>
	<img
		_ngcontent-ng-c1321015302=""
		src="./assets/images/logo-text.png"
		alt="homepage"
		class="dark-logo"
	/>
</header>
<div class="content">
	<p>AdminPro is an app created with:</p>
	<p>Frontend: Angular 16 framework</p>
	<p>Backend: Node 18, MongoDB and Express</p>
	<p>
		It's an app done with some changes from the
		<a
			href="https://www.udemy.com/course/angular-avanzado-fernando-herrera"
			target="_blank"
		>
			Fernando Herrera course of Angular for advanced Angular developpers.
		</a>
	</p>
	<p>
		You can find the source code in
		<a href="https://github.com/CartagoGit"
			>Cartago's github.
			<i class="fa fa-github" aria-hidden="true"></i>
		</a>
	</p>
	<ul>
		<li>
			<a
				href="https://github.com/CartagoGit/Angular-Avanzado-Lleva-tus-bases-al-siguiente-nivel-MEAN-por-fernando-herrera/tree/main/projects/02-adminpro"
				target="_blank"
			>
				<i class="fa fa-github" aria-hidden="true"></i>
				Frontend
			</a>
		</li>
		<li>
			<a
				href="https://github.com/CartagoGit/Angular-Avanzado-Lleva-tus-bases-al-siguiente-nivel-MEAN-por-fernando-herrera/tree/main/projects/03-backend"
				target="_blank"
			>
				<i class="fa fa-github" aria-hidden="true"></i>
				Backend
			</a>
		</li>
	</ul>
</div>
<h4>Made by Mario Cabrero Volarich</h4>
<div class="references content">
	<p>You can contact with me in:</p>
	<a
		href="https://www.linkedin.com/in/mario-cabrero-volarich/"
		target="_blank"
	>
		<i class="fa fa-linkedin-square" aria-hidden="true"></i>
		Cartago's Linkedin
	</a>
</div>
