.pointer {
	cursor: pointer;
}

.invalid-field {
	background-image: linear-gradient(#f73939, #f76c39),
		linear-gradient(#f2e9e9, #f2ece9) !important;
	background-size: 100% 2px, 100% 1px !important;
}

.invalid-checkbox::before {
	border: 1px solid #f73939 !important;
	transition: border 0ms ease;
}

.form-input {
	position: relative;
}

.required-field {
	font-size: 10px;
	font-weight: 600;
	color: #f73939;
	position: absolute;
	bottom: 1px;
	right: 0px;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.text-password {
	-webkit-text-security: disc;
}

.underline {
	text-decoration: underline;
}

.fast {
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type='number'] {
	text-align: right;
}

