.input-file {
	margin-bottom: 20px;
	display: flex;
	position: relative;
	width: 100%;
}

.fake-image-button {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.file-name {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.fake-image-button,
.file-name {
	/* display: flex; */
	/* align-items: center; */
	/* justify-content: center; */
	transition: 300ms ease;
}

.input-file:hover .file-name {
	border-color: rgba(69, 69, 69, 0.537);
}

.input-file:hover .fake-image-button {
	background: #2f3d4a;
	opacity: 0.7;
	color: #ffffff;
	background-color: #232a37;
	border: 1px solid #232a37;
}
