.modal__background {
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.modal__container {
	display: grid;
	place-items: center;
	overflow: hidden;
	width: 100%;
	height: 100%;
	padding: 30px;
}

.modal__content {
	background-color: #fff;
	border-radius: 10px;
	/* overflow: hidden; */
	width: auto;
	height: auto;
	max-width: 90vh;
	max-height: 90vh;
}

.modal button {
	margin-left: 10px;
}
.modal app-input-file {
	margin-left: 0px;
}
.modal button:focus {
	outline: none;
}

.modal__header,
.modal__default--header {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 15px;
	border-bottom: 1px solid #e9ecef;
}

.modal__body,
.modal__default--body {
	position: relative;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 15px;
}

.modal__footer,
.modal__default--footer {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: end;
	justify-content: center;
	padding: 15px;
	border-top: 1px solid #e9ecef;
}

.modal__component-container {
	padding: 0;
}

.modal__image {
	width: 100%;
	height: 100%;
	max-width: 500px;
	max-height: 500px;
	object-fit: cover;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 10px;
}

.modal__image-container {
	display: grid;
	place-items: center;
	overflow: hidden;
	margin-bottom: 30px;
}
