<div class="modal__body">
	<div class="form-group">
		<div class="modal__image-container">
			<img
			class="modal__image"
				[src]="image.url || data.dataImages?.defaultImgSrc | safe"
				alt="image selected"
			/>
		</div>
		<app-input-file
			class="app-input-file"
			(fileChanged)="imageChanged($event)"
			[file]="image"
			[isDisabled]="isUserAndGoogle"
			[format]="'image'"
		>
		</app-input-file>
	</div>
</div>
<div class="modal__footer">
	<button
		type="button"
		class="btn btn-primary"
		(click)="image.url && !isUserAndGoogle && updateImage()"
		[ngClass]="{
			disabled: !image.url || isUserAndGoogle,
			'btn-danger': isUserAndGoogle
		}"
	>
		{{
			isUserAndGoogle
				? 'Google user'
				: !image.url
				? 'Select an Image'
				: 'Change'
		}}</button
	><button type="button" class="btn btn-default" (click)="close()">
		Close
	</button>
</div>
