img {
	/* width: 100%; */
	max-width: 500px;
	max-height: 500px;
	/* height: 100%; */
	object-fit: cover;
	border: 1px solid #ccc;
	border-radius: 10px;
}

.image-modal {
	display: grid;
	place-items: center;
	overflow: hidden;
}


