.hospitals-list {
	height: 300px;
	overflow-y: auto;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #f9fcff;
	margin-top: 15px !important;
}

.hospital-row {
	border: 1px solid #f3f1f1;
	// border: 1px solid white;
	padding: 3px;
	&:nth-child(odd) {
		background-color: #f4f6f9;
	}
	&:nth-child(even) {
		background-color: white;
	}
}

.modal__body {
	width: 850px;
}
.modal__image {
	height: 380px;
}

.image-field {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 4300px;
}

.error-message {
	position: absolute;
	color: red;
	bottom: -14px;
	left: 0px;
	font-size: 10px;
	font-weight: 500;
	opacity: 0.8;
}

.form-group {
	position: relative;
}
.user-options {
	position: absolute;
	top: 67px;
	left: 0px;
	width: 100%;
	border: 1px solid #80bdff;
	border-top-style: dashed;
	z-index: 2;
	background-color: #f9fcff;
	border-radius: 0 0 10px 10px;
	padding: 10px;
}

.user-option {
	cursor: pointer;
	&:hover {
		background-color: #f3f1f1;
	}
}

.remove-user {
	position: absolute;
	right: 10px;
	top: 39px;
	cursor: pointer;
}
