<div class="modal__body row">
	<div class="col-6">
		<div #inputUserGroup class="form-group">
			<label for="name" class="d-flex w-100 justify-content-between">
				<span>User</span>
				<span>{{ userSelected() ? userSelected()?.email : '' }}</span>
			</label>
			<input
				#userInput
				(focus)="onFocusUserInput($event, inputUserGroup)"
				(blur)="onBlurUserInput($event, inputUserGroup)"
				type="text"
				class="form-control"
				id="name"
				placeholder="Name"
				[value]="data ? data.user.name : ''"
				[disabled]="userSelected() !== undefined"
			/>

			<span
				class="remove-user"
				[hidden]="data || userSelected() === undefined"
				(click)="removeUser(userInput)"
			>
				<i class="fa fa-close text-danger"> </i>
			</span>
			<div
				class="user-options"
				[hidden]="userOptions().length === 0 || !userInputFocused()"
			>
				<div
					tabindex="0"
					class="user-option d-flex justify-content-between g-10"
					*ngFor="let user of userOptions()"
					(click)="selectUser(user)"
				>
					<span>{{ user.name }}</span>
					<span>{{ user.email }}</span>
				</div>
			</div>
			<span class="error-message" [hidden]="!errors().user.isError">{{
				errors().user.message
			}}</span>
		</div>
		<div class="form-group">
			<label for="hospitals">Hospitals</label>
			<div class="combo-hospital d-flex w-100">
				<!-- size="5" -->
				<select
					name="hospitals"
					#hospitalSelect
					class="form-control hospital-select"
					[disabled]="hospitalsUnselected().length === 0"
				>
					<option
						*ngFor="
							let hospital of (hospitalsUnselected().length !== 0
								? hospitalsUnselected()
								: [{ name: 'There are not hospitals' }]
							) | orderBy : 'name'
						"
						[value]="hospital.id"
					>
						{{ hospital.name }}
					</option>
				</select>
				<button
					class="btn btn-secondary"
					(click)="addHospital(hospitalSelect.value)"
				>
					Add hospital
				</button>
			</div>
		</div>
		<div class="form-group">
			<label for="selectedHospitals">Hospitals where doctor works</label>
			<div class="hospitals-list">
				<div
					name="selectedHospitals"
					*ngFor="let hospital of hospitalsSelected() | orderBy : 'name'"
					class="hospital-row d-flex justify-content-between w-100 p2 px-4"
				>
					<span>{{ hospital.name }}</span>
					<span
						class="pointer"
						data-toggle="tooltip"
						data-original-title="remove"
						title="Remove"
						(click)="clickRemoveHospital(hospital.id)"
					>
						<i class="fa fa-close text-danger"></i>
					</span>
				</div>
			</div>
			<span [hidden]="!errors().hospitals.isError" class="error-message">{{
				errors().hospitals.message
			}}</span>
			<!-- hidden -->
		</div>
	</div>
	<div class="col-6 d-flex">
		<div class="form-group image-field">
			<div class="image-preview h-100">
				<label for="logo">Image</label>
				<div class="modal__image-container d-flex align-items-center h-100">
					<img
						class="modal__image"
						[src]="
							(!!images().length && images()[0].url) ||
								data?.dataImages?.defaultImgSrc ||
								defaultImage | safe
						"
						alt="image selected"
					/>
				</div>
			</div>

			<!-- [file]="imageSelected()" -->
			<app-input-file
				(fileChanged)="imageChanged($event)"
				[format]="'image'"
				class="mt-auto"
			>
			</app-input-file>
		</div>
	</div>
</div>
<div class="modal__footer">
	<button
		type="button"
		class="btn"
		(click)="
			isFormValid() &&
				(kindModal === 'create' ? createDoctor() : updateDoctor())
		"
		[ngClass]="{
			disabled: !isFormValid(),
			'btn-primary': kindModal === 'create',
			'btn-info': kindModal === 'update'
		}"
	>
		{{ kindModal === 'create' ? 'Create new doctor' : 'Update doctor' }}
	</button>

	<button type="button" class="btn btn-default" (click)="close()">
		Close
	</button>
</div>
