<div class="modal__body row">
	<div class="col-6">
		<div class="form-group">
			<label for="name">User</label>
			<input
				#userInput
				type="text"
				class="form-control"
				id="name"
				placeholder="Name"
				[value]="data ? data.user.name : ''"
				(input)="getUsers(userInput.value)"
				[disabled]="userSelected() !== undefined"
				(focus)="userInputFocused.set(true)"
				(blur)="userInputFocused.set(false)"
			/>

			<span
				class="remove-user"
				[hidden]="data || userSelected() === undefined"
			>
				<i class="fa fa-close text-danger"> </i>
			</span>
			<div
				class="user-options"
				[hidden]="userOptions().length === 0 || !userInputFocused()"
			>
				<div class="user-option" *ngFor="let user of userOptions()">
					{{ user.name }}
				</div>
			</div>
			<span class="error-message" [hidden]="!errors().user.isError">{{
				errors().user.message
			}}</span>
		</div>
		<div class="form-group">
			<label for="hospitals">Hospitals</label>
			<div class="combo-hospital d-flex w-100">
				<!-- size="5" -->
				<select
					name="hospitals"
					#hospitalSelect
					class="form-control hospital-select"
					[disabled]="hospitalsUnselected().length === 0"
				>
					<option
						*ngFor="
							let hospital of (hospitalsUnselected().length !== 0
								? hospitalsUnselected()
								: [{ name: 'There are not hospitals' }]
							) | orderBy : 'name'
						"
						[value]="hospital.id"
					>
						{{ hospital.name }}
					</option>
				</select>
				<button
					class="btn btn-secondary"
					(click)="addHospital(hospitalSelect.value)"
				>
					Add hospital
				</button>
			</div>
		</div>
		<div class="form-group">
			<label for="selectedHospitals">Hospitals where doctor works</label>
			<div class="hospitals-list">
				<div
					name="selectedHospitals"
					*ngFor="let hospital of hospitalsSelected() | orderBy : 'name'"
					class="hospital-row d-flex justify-content-between w-100 p2 px-4"
				>
					<span>{{ hospital.name }}</span>
					<span
						class="pointer"
						data-toggle="tooltip"
						data-original-title="remove"
						title="Remove"
						(click)="clickRemoveHospital(hospital.id)"
					>
						<i class="fa fa-close text-danger"></i>
					</span>
				</div>
			</div>
			<span [hidden]="!errors().hospitals.isError" class="error-message">{{
				errors().hospitals.message
			}}</span>
			<!-- hidden -->
		</div>
	</div>
	<div class="col-6 d-flex">
		<div class="form-group image-field">
			<div class="image-preview h-100">
				<label for="logo">Image</label>
				<div class="modal__image-container d-flex align-items-center h-100">
					<img
						class="modal__image"
						[src]="
							(!!images().length && images()[0].url) ||
								data?.dataImages?.defaultImgSrc ||
								defaultImage | safe
						"
						alt="image selected"
					/>
				</div>
			</div>

			<!-- [file]="imageSelected()" -->
			<app-input-file
				(fileChanged)="imageChanged($event)"
				[format]="'image'"
				class="mt-auto"
			>
			</app-input-file>
		</div>
	</div>
</div>
<div class="modal__footer">
	<ng-container [ngSwitch]="kindModal">
		<button
			*ngSwitchCase="'create'"
			type="button"
			class="btn btn-primary"
			(click)="isFormValid() && createDoctor()"
			[ngClass]="{
				disabled: !isFormValid()
			}"
		>
			Create new doctor
		</button>
		<button
			*ngSwitchCase="'update'"
			type="button"
			class="btn btn-info"
			(click)="isFormValid() && updateDoctor()"
			[ngClass]="{
				disabled: !isFormValid()
			}"
		>
			Update doctor
		</button>
	</ng-container>

	<button type="button" class="btn btn-default" (click)="close()">
		Close
	</button>
</div>
