.column {
	min-width: 400px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.list-container {
	justify-content: space-around;
	max-width: 800px;
}

.list-group {
	width: 100%;
	min-height: 200px;
	max-height: 50vh;
	height: 100%;
	overflow: auto;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	width: 100%;
	max-width: 500px;
}
li {
	list-style: none;
	/* padding: 10px; */
	cursor: pointer;
	height: 50px;
}
li:nth-child(odd) {
	background-color: #f4f6f9;
}
li:nth-child(even) {
	background-color: white;
}
li:hover {
	background-color: #f3f1f1;
}
/*
:host {
	min-width: 70%;
	display:flex;
	flex-direction: column;
} */
/* .table-grid {
	max-width: 300px;
} */
.table-grid {
	grid-template-rows: repeat(auto-fit, 50px);
}
.table-grid__row {
	grid-template-columns: 60px repeat(2, minmax(0, 1fr));
}
