<div class="modal__body">
	<div class="row">
		<div class="col-md-12 col-lg-6 without-hospital column">
			<label>Doctors not assigned in any hospital</label>
			<ul
				class="list-group"
				(dragover)="onDragOver($event)"
				(drop)="onDrop($event)"
			>
				<!-- <li *ngFor="let doctor of doctorsWithoutHospital"> -->
				<!-- {{ doctor.user.name }} -->
				<li
					*ngFor="
						let doctor of [
							0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14
						]
					"
					[draggable]="true"

					(dragstart)="onDragStart($event)"
				>
					<!-- {{ doctor.user.name }} -->
					{{ doctor }}
				</li>
			</ul>
		</div>
		<div class="col-md-12 col-lg-6 in-hospital column">
			<label>Doctors working in {{ this.data.name }}</label>
			<ul
				class="list-group"
				(dragover)="onDragOver($event)"
				(drop)="onDrop($event)"
			>
				<!-- <li *ngFor="let doctor of doctorsOfHospital"> -->
				<li
					*ngFor="
						let doctor of [
							0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14
						]
					"
					[draggable]="true"
					(dragstart)="onDragStart($event)"
				>
					<!-- {{ doctor.user.name }} -->
					{{ doctor }}
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="modal__footer">
	<button
		class="btn btn-info"
		(click)="areDoctorsChanged && updateHospital()"
		[ngClass]="{ disabled: !areDoctorsChanged }"
	>
		Update
	</button>
	<button class="btn btn-danger" (click)="close()">Close</button>
</div>
