<div class="modal__body">
	<h3 class="w-100 text-center">Drag doctors between list, and update when you will finish</h3>
	<div class="row">
		<div class="col-sm-12 col-lg-5 without-hospital column list">
			<label>Doctors not assigned in any hospital</label>
			<ul
				class="list-group table-grid"
				(dragover)="onDragOver($event)"
				(drop)="onDrop($event, { destination: 'without-hospital' })"
			>
				<!-- <li *ngFor="let doctor of doctorsWithoutHospital"> -->
				<!-- {{ doctor.user.name }} -->
				<li
					*ngFor="let doctor of array1"
					[draggable]="true"
					(dragstart)="onDragStart($event, doctor, 'without-hospital')"
					class="table-grid__row"
				>
					<!-- {{ doctor.user.name }} -->
					<div class="table-grid__field center-items">
						<img class="portrait" src="" alt="doctor image" />
					</div>
					<div class="table-grid__field ellipsis" [title]="doctor.name">
						{{ doctor.name }}
					</div>
					<div class="table-grid__field ellipsis" [title]="doctor.name">
						email
					</div>
				</li>
			</ul>
		</div>
		<div class="col-sm-12 col-lg-5 in-hospital column list">
			<label>Doctors working in {{ this.data.name }}</label>
			<ul
				class="list-group table-grid"
				(dragover)="onDragOver($event)"
				(drop)="onDrop($event, { destination: 'of-hospital' })"
			>
				<!-- <li *ngFor="let doctor of doctorsOfHospital"> -->
				<li
					*ngFor="let doctor of array2"
					[draggable]="true"
					(dragstart)="onDragStart($event, doctor, 'of-hospital')"
					class="table-grid__row"
				>
					<!-- {{ doctor.user.name }} -->
					<!-- {{ doctor.user.email }} -->
					<div class="table-grid__field center-items">
						<img class="portrait" src="" alt="doctor image" />
					</div>
					<div class="table-grid__field ellipsis" [title]="doctor.name">
						{{ doctor.name }}
					</div>
					<div class="table-grid__field ellipsis" [title]="doctor.name">
						//
						<!-- TODO cambiar el title por el email del doctor -->
						email
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="modal__footer">
	<button
		class="btn btn-info"
		(click)="areDoctorsChanged && updateHospital()"
		[ngClass]="{ disabled: !areDoctorsChanged }"
	>
		Update
	</button>
	<button class="btn btn-danger" (click)="close()">Close</button>
</div>
