<div class="modal__body row" [formGroup]="newHospitalForm">
	<div class="col-6">
		<div class="form-group">
			<label for="name">Name</label>
			<input
				type="text"
				class="form-control"
				id="name"
				placeholder="Name"
				formControlName="name"
			/>
		</div>
		<div class="form-group">
			<label for="address">Address</label>
			<input
				type="text"
				class="form-control"
				id="address"
				placeholder="Address"
				formControlName="address"
			/>
		</div>
		<div class="form-group">
			<label for="phone">Phone</label>
			<input
				type="text"
				class="form-control"
				id="phone"
				placeholder="Phone"
				formControlName="phone"
			/>
		</div>
	</div>
	<div class="col-6 d-flex">
		<div class="form-group image-field">
			<label for="logo">Image</label>
			<div class="modal__image-container">
				<img
					class="modal__image"
					[src]="image.url || defaultImage | safe"
					alt="image selected"
				/>
			</div>
			<app-input-file
				[file]="image"
				(fileChanged)="imageChanged($event)"
				[format]="'image'"
			>
			</app-input-file>
		</div>
	</div>
</div>
<div class="modal__footer">
	<button
		type="button"
		class="btn btn-primary"
		(click)="newHospitalForm.valid && createHospital()"
		[ngClass]="{
			disabled: newHospitalForm.invalid
		}"
	>
		Create new hospital
	</button>
	<button type="button" class="btn btn-default" (click)="close()">
		Close
	</button>
</div>
