<div
	#modal
	class="modal fade show modal-background animated fadeIn fast"
	[class.hide]="!modalSvc.isOpen"
	id="modal"
	tabindex="-1"
	role="dialog"
	aria-labelledby="Modal label"
	style="display: block"
>
	<!-- (click)="prueba($event)" -->
	<div
		#backdrop
		class="modal-container"
		role="document"
		(click)="options?.closeOnOutsideClick ? clickBackdrop($event) : null"
	>
		<div class="modal-content">
			<div class="modal-header" *ngIf="options?.hasDefaultHeader">
				<h4 class="modal-title" id="Modal label">Load image</h4>
				<button
					type="button"
					class="close pointer"
					data-dismiss="modal"
					aria-label="Close"
					(click)="close()"
				>
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<ng-template #modalContent></ng-template>
			</div>
			<div class="modal-footer" *ngIf="options?.hasDefaultFooter">
				<button
					type="button"
					class="btn btn-default"
					data-dismiss="modal"
					(click)="close()"
				>
					Close
				</button>
				<button type="button" class="btn btn-primary">Load</button>
			</div>
		</div>
	</div>
</div>
