<div
	#modal
	class="modal fade show modal__background"
	[class.hide]="!modalSvc.isOpen"
	id="modal"
	tabindex="-1"
	role="dialog"
	aria-labelledby="Modal label"
	style="display: block"
>
	<!-- (click)="prueba($event)" -->
	<div
		#backdrop
		class="modal__container animated zoomIn fast"
		role="document"
		(click)="options?.closeOnOutsideClick ? clickBackdrop($event) : null"
	>
		<div class="modal__content">
			<div class="modal__default--header" *ngIf="options?.hasDefaultHeader">
				<h4 class="modal-title" id="Modal label">{{ options?.title }}</h4>
				<button
					type="button"
					class="close pointer"
					data-dismiss="modal"
					aria-label="Close"
					(click)="close()"
				>
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div
				class="modal__default--body"
				[ngClass]="{
					'modal__component-container':
						!options?.hasDefaultFooter || !options?.hasDefaultHeader
				}"
			>
				<ng-template #modalContent></ng-template>
			</div>
			<div class="modal__default--footer" *ngIf="options?.hasDefaultFooter">
				<button
					type="button"
					class="btn btn-default"
					data-dismiss="modal"
					(click)="close()"
				>
					Close
				</button>
				<button type="button" class="btn btn-primary">Load</button>
			</div>
		</div>
	</div>
</div>
