<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Striped Progress bar</h4>
        <div class="row justify-content-around">
          <div class="col-4">
            <div class="progress m-t-20">
              <div
                class="progress-bar progress-bar-striped active"
                [ngClass]="['bg-' + example01]"
                style="height: 5px"
                role="progressbar"
                [style.width]="progress01"
              ></div>
            </div>
            <div class="card">
              <div class="card-body">
                <app-increment-input
                  [colorType]="example01"
                  [value]="initProgress01"
                  numberType="perceint"
                  (returnValueWithType)="progress01 = $event"
                ></app-increment-input>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="progress m-t-20">
              <div
                class="progress-bar progress-bar-striped active"
                [ngClass]="['bg-' + example02]"
                style="height: 5px"
                role="progressbar"
                [style.width]="progress02"
              ></div>
            </div>
            <div class="card">
              <div class="card-body">
                <app-increment-input
                  [colorType]="example02"
                  [value]="initProgress02"
                  numberType="perceint"
                  [range]="10"
                  (returnValueWithType)="progress02 = $event"
                ></app-increment-input>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
