<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Striped Progress bar</h4>
        <div class="row justify-content-around">
          <div class="col-5" *ngFor="let example of examples; let i = index">
            <h4>{{ i + 1 }} - {{ example.title }}</h4>
            <div class="progress m-t-20">
              <div
                class="progress-bar progress-bar-striped active"
                [ngClass]="['bg-' + example.colorBootstrap]"
                style="height: 5px"
                role="progressbar"
                [style.width]="example.percentWithSymbol"
              ></div>
            </div>
            <div class="card">
              <div class="card-body">
                <app-increment-input
                  [colorType]="example.colorBootstrap || 'primary'"
                  [value]="example.value"
                  [numberType]="example.typeNumber!"
                  (returnValueNumber)="example.value = $event"
                  (returnValueWithType)="example.valueWithType = $event"
                  (returnPercent)="example.percent = $event"
                  (returnPercentWithSymbol)="example.percentWithSymbol = $event"

                  [max]="example.max || 100"
                  [min]="example.min || 0"
                  [range]="example.range || 10"
                ></app-increment-input>
              </div>
            </div>
          </div>
       
        </div>
      </div>
    </div>
  </div>
</div>
