<div class="footer-table">
	<div class="footer-results">
		<div class="footer-result" *ngIf="showTotal">
			<span class="footer-total-label">Total:</span>
			<span class="footer-total-result">
				{{ pagination.totalDocs || 0 }}</span
			>
		</div>
		<div class="footer-result" *ngFor="let result of results">
			<span class="footer-total-label">{{ result.label }}:</span>
			<span class="footer-total-result"> {{ result.value }} || '' }}</span>
		</div>
	</div>
	<div class="footer-pagination">
		<ul class="pagination">
			<li
				class="page-item"
				(click)="pagination.hasPrevPage && changePage(1)"
				[ngClass]="{ disabled: !pagination.hasPrevPage }"
			>
				<div class="page-link">
					<i class="fa fa-angle-double-left"></i>
				</div>
			</li>
			<li
				class="page-item"
				(click)="pagination.hasPrevPage && changePage(pagination.page! - 1)"
				[ngClass]="{ disabled: !pagination.hasPrevPage }"
			>
				<div class="page-link">
					<i class="fa fa-angle-left"></i>
				</div>
			</li>
			<li
				*ngFor="let numPage of pagesShowed"
				class="page-item"
				(click)="changePage(numPage)"
			>
				<div
					class="page-link"
					[ngClass]="{ 'selected-page': pagination.page === numPage }"
				>
					{{ numPage }}
				</div>
			</li>
			<li
				class="page-item"
				(click)="pagination.hasNextPage && changePage(pagination.page! + 1)"
				[ngClass]="{ disabled: !pagination.hasNextPage }"
			>
				<div class="page-link">
					<i class="fa fa-angle-right"></i>
				</div>
			</li>
			<li
				class="page-item"
				(click)="pagination.hasNextPage && changePage(pagination.totalPages!)"
				[ngClass]="{ disabled: !pagination.hasNextPage }"
			>
				<div class="page-link">
					<i class="fa fa-angle-double-right"></i>
				</div>
			</li>
		</ul>
	</div>
</div>
