.footer-table {
	display: flex;
	justify-content: space-between;
}

.footer-results {
	display: flex;
	align-items: center;
	gap: 15px;
	line-height: 16px;
	/* align-items: flex-end; */
}

.footer-result {
	display: flex;
	font-weight: 300;
	font-size: 14px;
	gap: 5px;
}

.footer-total-result {
	font-size: 16px;
	font-weight: 400;
}

.pagination {
	margin-bottom: 0px !important;
}

.page-item {
	cursor: pointer !important;
}

.page-link {
	border-color: rgb(233, 236, 239) !important;
	color: #67757c !important;
	font-weight: 300 !important;
}

.selected-page {
	text-decoration: none;
	background-color: #e9ecef;
	border-color: #ddd;
}
