<div class="row">
	<div class="col-4">
		<div class="card">
			<div class="card-body">
				<h3>Users</h3>

				<div
					class="alert alert-info"
					*ngIf="
						!results()?.Users?.data ||
							results()?.Users?.data?.length === 0;
						else tableUsers
					"
				>
					<p class="mb-0">Not found</p>
				</div>
				<ng-template #tableUsers>
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th class="avatar-td">Avatar</th>
									<th>Name</th>
									<th>Email</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let user of results()?.Users?.data || []">
									<td class="avatar-td">
										<img
											[src]="user.dataImages?.defaultImgSrc"
											[alt]="'Image from user ' + user.name"
										/>
									</td>
									<td>{{ user.name }}</td>
									<td>{{ user.email }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</ng-template>
			</div>
		</div>
	</div>
	<div class="col-4">
		<div class="card">
			<div class="card-body">
				<h3>Doctor</h3>
				<div
					class="alert alert-info"
					*ngIf="
						!results()?.Doctors?.data ||
							results()?.Doctors?.data?.length === 0;
						else tableDoctors
					"
				>
					<p class="mb-0">Not found</p>
				</div>
				<ng-template #tableDoctors>
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th class="avatar-td">Avatar</th>
									<th>Name</th>
									<th>Email</th>
								</tr>
							</thead>
							<tbody>
								<tr
									*ngFor="let doctor of results()?.Doctors?.data || []"
								>
									<td class="avatar-td">
										<img
											[src]="doctor.dataImages?.defaultImgSrc! | safe"
											[alt]="'Image from doctor ' + doctor.user.name"
										/>
									</td>
									<td>{{ doctor.user.name }}</td>
									<td>{{ doctor.user.email }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</ng-template>
			</div>
		</div>
	</div>
	<div class="col-4">
		<div class="card">
			<div class="card-body">
				<h3>Hospital</h3>
				<div
					class="alert alert-info"
					*ngIf="
						!results()?.Hospitals?.data ||
							results()?.Hospitals?.data?.length === 0;
						else tableHospitals
					"
				>
					<p class="mb-0">Not found</p>
				</div>
				<ng-template #tableHospitals>
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th class="avatar-td">Avatar</th>
									<th>Name</th>
									<th>Phone</th>
								</tr>
							</thead>
							<tbody>
								<tr
									*ngFor="
										let hospital of results()?.Hospitals?.data || []
									"
								>
									<td class="avatar-td">
										<img
											[src]="hospital.dataImages?.defaultImgSrc"
											[alt]="'Image from user ' + hospital.name"
										/>
									</td>
									<td>{{ hospital.name }}</td>
									<td>{{ hospital.phone }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</ng-template>
			</div>
		</div>
	</div>
</div>
