<div
	class="input-file"
	[title]="file.name"
	[ngClass]="{ disabled: isDisabled }"
>
	<input
		#inputHiddenFile
		type="file"
		(change)="changeFile($event)"
		[accept]="fileFormat"
		class="pointer"
		hidden="true"
	/>

	<button
		[disabled]="isDisabled"
		type="button"
		class="btn btn-inverse fake-image-button"
		(click)="inputHiddenFile.click()"
	>
		<i class="fa fa-upload"></i><span class="m-l-5">Upload</span>
	</button>
	<div
		class="file-name form-control ellipsis pointer"
		(click)="!isDisabled && inputHiddenFile.click()"
	>
		{{ file.name || 'Actual file' }}
	</div>
</div>
