<div class="row">
	<div class="col-md-6">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Profile</h4>
				<h6 class="card-subtitle">Settings</h6>
				<form class="form p-t-20">
					<div class="form-group">
						<label for="exampleInputuname">User Name</label>
						<div class="input-group">
							<div class="input-group-addon">
								<i class="ti-user"></i>
							</div>
							<input
								type="text"
								class="form-control"
								id="exampleInputuname"
								placeholder="Username"
							/>
						</div>
					</div>
					<div class="form-group">
						<label for="exampleInputEmail1">Email address</label>
						<div class="input-group">
							<div class="input-group-addon">
								<i class="ti-email"></i>
							</div>
							<input
								type="email"
								class="form-control"
								id="exampleInputEmail1"
								placeholder="Enter email"
							/>
						</div>
					</div>
					<div class="form-group">
						<label for="pwd1">Password</label>
						<div class="input-group">
							<div
								class="input-group-addon pointer"
								(click)="showPassword = !showPassword"
							>
								<i
									[ngClass]="showPassword ? 'ti-unlock' : 'ti-lock'"
								></i>
							</div>
							<input
								class="form-control"
								type="text"
								placeholder="Password"
								[ngClass]="{
									'text-password': !showPassword
								}"
							/>
						</div>
						<!-- <div
							class="icon-show-password pointer"
							(click)="showPassword = !showPassword"
						>
							<img
								class="img-show-password"
								width="20px"
								height="20px"
								[src]="
									!!showPassword
										? 'assets/images/icon/unlock-solid.svg'
										: 'assets/images/icon/lock-solid.svg'
								"
								alt="show/hide password"
							/>
						</div> -->
					</div>
					<div class="form-group">
						<label for="pwd2">Confirm Password</label>
						<div class="input-group">
							<div
								class="input-group-addon pointer"
								(click)="showPassword = !showPassword"
							>
								<i
									[ngClass]="showPassword ? 'ti-unlock' : 'ti-lock'"
								></i>
							</div>
							<input
								class="form-control"
								type="text"
								placeholder="Password"
								[ngClass]="{
									'text-password': !showPassword
								}"
							/>
						</div>
						<!-- <div
							class="icon-show-password pointer"
							(click)="showPassword = !showPassword"
						>
							<img
								class="img-show-password"
								width="20px"
								height="20px"
								[src]="
									!!showPassword
										? 'assets/images/icon/unlock-solid.svg'
										: 'assets/images/icon/lock-solid.svg'
								"
								alt="show/hide password"
							/>
						</div> -->
					</div>
					<button
						type="submit"
						class="btn btn-inverse waves-effect waves-light m-r-10 btn-block"
					>
						<i class="fa fa-save"></i
						><span class="m-l-5">Save modify</span>
					</button>
				</form>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Image</h4>
				<h6 class="card-subtitle">Settings</h6>

				<img src="" alt="" />
				<input type="file" />
				<br /><br />
				<button
					type="button"
					class="btn btn-inverse waves-effect waves-light m-r-10 btn-block"
				>
					<i class="fa fa-image"></i><span class="m-l-5">Save image</span>
				</button>
			</div>
		</div>
	</div>
</div>
