<form class="row" [formGroup]="profileForm">
	<div class="col-md-6">
		<div class="card">
			<span *ngIf="user.google" class="google-banner">Google account</span>
			<div class="card-body">
				<h4 class="card-title">Profile</h4>
				<h6 class="card-subtitle">Settings</h6>
				<div class="form p-t-20">
					<div class="form-group">
						<label for="exampleInputuname">User Name</label>
						<div class="input-group">
							<div class="input-group-addon">
								<i class="ti-user"></i>
							</div>
							<input
								formControlName="name"
								type="text"
								class="form-control"
								placeholder="Username"
								[ngClass]="{
									'profile-input-error':
										profileForm.controls.name.invalid
								}"
							/>
						</div>
					</div>
					<div class="form-group">
						<label for="exampleInputEmail1">Email address</label>
						<div class="input-group">
							<div class="input-group-addon">
								<i class="ti-email"></i>
							</div>
							<input
								formControlName="email"
								type="email"
								class="form-control"
								placeholder="Enter email"
								[ngClass]="{
									'profile-input-error':
										profileForm.controls.email.invalid
								}"
							/>
						</div>
					</div>
					<div class="form-group">
						<label for="pwd1">Password</label>
						<div class="input-group">
							<div
								class="input-group-addon pointer"
								(click)="showPassword = !showPassword"
							>
								<i
									[ngClass]="showPassword ? 'ti-unlock' : 'ti-lock'"
								></i>
							</div>
							<input
								formControlName="password"
								class="form-control"
								type="text"
								placeholder="Password"
								[ngClass]="{
									'text-password': !showPassword,
									'profile-input-error':
										profileForm.controls.password.invalid
								}"
							/>
						</div>
					</div>
					<div class="form-group">
						<label for="pwd2">Confirm Password</label>
						<div class="input-group">
							<div
								class="input-group-addon pointer"
								(click)="showPassword = !showPassword"
							>
								<i
									[ngClass]="showPassword ? 'ti-unlock' : 'ti-lock'"
								></i>
							</div>
							<input
								formControlName="password2"
								class="form-control"
								type="text"
								placeholder="Password"
								[ngClass]="{
									'text-password': !showPassword,
									'profile-input-error':
										profileForm.controls.password2.invalid
								}"
							/>
						</div>
					</div>
				</div>
			</div>
			<button
				[disabled]="user.google"
				type="submit"
				class="btn btn-inverse m-r-10 btn-block"
				(click)="profileForm.valid && updateProfile()"
			>
				<i class="fa fa-save"></i>
				<span class="m-l-5"
					>{{
						user.google
							? 'Not allowed for google accounts'
							: 'Update profile'
					}}
				</span>
			</button>
		</div>
	</div>

	<div class="col-md-6">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Image</h4>
				<h6 class="card-subtitle">Change profile image</h6>

				<app-input-file
					[isDisabled]="user.google"
					[file]="image"
					(fileChanged)="imageChanged($event)"
					[format]="'image'"
				>
				</app-input-file>

				<div class="img-container">
					<img
						[src]="image.url || user.dataImages!.defaultImgSrc | safe"
						alt="profile user image"
					/>
				</div>
			</div>
			<button
				[disabled]="user.google"
				type="button"
				class="btn btn-inverse m-r-10 btn-block"
				(click)="updateImageProfile()"
			>
				<i class="fa fa-image"></i>
				<span class="m-l-5"
					>{{
						user.google
							? 'Not allowed for google accounts'
							: 'Update image'
					}}
				</span>
			</button>
		</div>
	</div>
</form>
